<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_user.present? %>
    <% if current_user.avatar.present?%>
      <%= image_tag(current_user.avatar) %> 
      <br>
    <% end %>
    You are loged in as <%= current_user.full_name %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <br>
  <% end %>
  <%= yield %>
  </body>
</html>
